/* COLORS */
$white_color: white;
$black_color: black;
$blue_app_std_color: #405cf5;
$available_status_color: rgba(12, 99, 12, 0.88);
$unavailable_status_color: #B0413E;
$txt_info_color: #999999;
$border_gray_color: #adb5bd9e;
$error_validation: #B0413E;
$check_selected_room_color: rgba(16, 152, 16, 0.87);
$footer_color: #adb5bd9e;
$head_table_color: rgba(128, 128, 128, 0.51);